<div class="row">
    <div class="col-md-8">
        <form class="form-horizontal" name="registerForm">
            <fieldset>
                <legend>Register</legend>
                <div class="form-group">
                    <label for="displayName" class="col-lg-2 control-label">Display Name</label>
                    <div class="col-lg-10">
                        <input type="text" ng-model="user.displayName" class="form-control" id="displayName" required="required" placeholder="Display Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                        <input type="text" ng-model="user.email" class="form-control" id="inputEmail" required="required" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-10">
                        <input type="password" ng-model="user.password" class="form-control" id="inputPassword" required="required" placeholder="Password">
                    </div>
                </div>

                <div class="alert alert-danger" ng-show="user.password.length < 5 && registerForm.$dirty" role="alert">Password must be at least 5 symbols!</div>

                <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">Confirm Password</label>
                    <div class="col-lg-10">
                        <input type="password" ng-model="user.confirmPassword" class="form-control" id="confirmPassword" required="required" placeholder="Confirm Password">
                    </div>
                </div>

                <div class="alert alert-danger" ng-show="user.confirmPassword.length >= 1 && (user.confirmPassword != user.password && registerForm.$dirty)" role="alert">Passwords Mismatch!</div>

                <div class="form-group ">
                    <div class="col-lg-10 col-lg-offset-2 ">
                        <button class="btn btn-primary " ng-click="vm.register(user,registerForm)" ng-disabled="registerForm.$invalid ">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>