<div class="container">
    <div class="row" ng-show="!!vm.currentProject">
    	<div class="col-md-3">
    		<h4>Name:<br />{{vm.currentProject.Name}}</h4>
    	</div>
    	<div class="col-md-3">
    		<h4>Total Users:<br />{{vm.currentProject.TotalUsers}}</h4>
    	</div>
    	<div class="col-md-3">
    		<h4>License:<br />{{vm.currentProject.License}}</h4>
    	</div>
    	<div class="col-md-3">
    		<h4>Created On:<br />{{vm.currentProject.CreatedOn | beautifulDate}}</h4>
    	</div>
    </div>
    <a href="#/projects/:id/addcommits" class="btn btn-sm btn-primary pull-right">Create commit</a>
    <div class="row" ng-show="!!vm.currentProject">
        <div class="col-md-12">
            <h3>Commits:</h3>

            
            <h4 ng-if="vm.commits && vm.commits.length > 0" ng-repeat="commit in vm.commits | orderBy: vm.sortBy">{{commit.UserName}} - {{commit.CreatedOn | beautifulDate}}</h4>
            <h4 ng-if="!(vm.commits && vm.commits.length > 0)">No commits for this project</h4>
            <button ng-click="vm.filterMine()">By me only</button>
            <button ng-click="vm.sortByUser()">Sort by user</button>
            <button ng-click="vm.sortByDate()">Sort by date</button>
        </div>
    </div>
    <div class="row" ng-show="!!vm.currentProject">
        <div class="col-md-12">
            <h3>Collaborators:</h3>
            <h4 ng-if="vm.collaborators && vm.collaborators.length > 0" ng-repeat="collaborator in vm.collaborators">{{collaborator}}</h4>
            <h4 ng-if="!(vm.collaborators && vm.collaborators.length > 0)">No collaborators for this project</h4>
        </div>
    </div>
    <div ng-show="!vm.currentProject">Not found</div>
</div>