<fieldset>
  <legend>Add new Cookie</legend>
  <div class="form-group">
    <label for="tb-cookies-title">
      Text:
    </label>
    <input type="text" class="form-control" id="tb-cookies-title" />
    <div id="tb-cookies-title-err" class="alert alert-danger error-msg" role="alert">Fortune cookie text must be a valid string between 6 and 30 symbols!</div>
  </div>
  <div class="form-group">
    <label for="tb-cookies-category">
      Category:
      </label>
    <input type="text" id="tb-cookies-category" class="form-control" />
    <div id="tb-cookies-category-err" class="alert alert-danger error-msg" role="alert">Fortune cookie category must be a valid string between 6 and 30 symbols!</div>
  </div>
  <div class="form-group">
    <label for="tb-cookies-image">
      Image:
    </label>
    <input type="text" class="form-control" id="tb-cookies-image" />
    <div id="tb-cookies-image-err" class="alert alert-danger error-msg" role="alert">Fortune cookie img url must be a valid url!</div>
  </div>
  <div class="form-group">
  </div>
  <button class="form-control btn btn-primary" id="btn-cookies-add">Add</button>
</fieldset>